* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #02141f;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

button {
    height: 15vmin;
    width: 15vmin;
    border: none;
    border-radius: 10%;
    font-size: 3.5vmin;
    color: #00235f;
    background-color: #1b71a7;
}

button:hover {
    color: #00ffd5;
    background-color: #2f7eae;
}

button:active {
    color: #00ff1e;
    border: 0.005vmin solid #69a8ff;
    background: #1b71a7;
    box-shadow: none;

    /* background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 2px 2px 4px #5a5a5a, 
                -2px -2px 4px #ffffff; */
}
